.xs-menu-container,
.sm-menu-container,
.md-menu-container,
.lg-menu-container {


	& .menu-button {
		cursor: pointer;
	}

	& .checked-menu {
		display: none
	}

	& nav {
		display: none;
	}

	& .checked-menu + label {
		& .fa-times {
			display: none;
		}
	}

	& .checked-menu:checked + label {
		& .fa-bars {
			display: none;
		}

		& .fa-times {
			display: inline-block;
		}
	}

	& .checked-menu:checked ~ nav {
		display: block;
		margin-top: -3px;
		//position: fixed;
		//top: 33px;
		//left: 10%;
		//right: 0;
		//width: 100%;
	}
}

@media (min-width: 768px) {
	.xs-menu-container {
		& nav {
			display: block;
		}

		& label {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.xs-menu-container,
	.sm-menu-container,
	.md-menu-container {
		& .checked-menu:checked ~ nav {
			position: relative;
			width: auto;
			top: auto;
			left: auto;
			right: auto;
		}
	}

	.sm-menu-container {
		& nav {
			display: block;
		}

		& label {
			display: none;
		}
	}
}
@media (min-width: 1200px) {
	.md-menu-container {
		& nav {
			display: block;
		}

		& label {
			display: none;
		}
	}
}